.container {
  margin-top: var(--spectrum-global-dimension-size-300);
  width: calc(100% - var(--spectrum-global-dimension-size-600)) !important;
  height: calc(100% - var(--spectrum-global-dimension-size-300)) !important;
  margin-right: var(--spectrum-global-dimension-size-300);
  margin-left: var(--spectrum-global-dimension-size-300);
  max-height: 700px;
  @media (max-width: 600px) {
    max-height: var(--spectrum-global-dimension-size-3000);
  }
}

.chart {
  margin-top: var(--spectrum-global-dimension-size-600);
}
